$main-color: #4B7DD7;
$main-color-saturated: #1D66E8;
$main-color-alt: #2862C9;
$main-color-faded: #254C91;
$main-color-dark: #26304B;
$main-black: #1F212D;

$secondary-color-base: #E38800;
$secondary-color-alt: #E3A600;

$white-color: #fff;
$main-gray: #707070;

$block-bg-color: #F3F3F3;

$base-offset: 64px;